<h2>Register</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form form-vertical"}) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :nickname %>
  <%= f.text_field :nickname %>

  <%= f.label :email, "Email (optional)" %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br />
  <%= f.submit "Register", :class => "btn btn-primary" %>
  <br /><br />
  <%= link_to('Login', new_user_session_path, :class => "btn") %>
<% end %>