<table border="0" class="table table-bordered" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <% unless mine %>
      <th>Price</th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% equipments.each do |eqmt| %>
    <tr <%= 'class="success"'.html_safe if eqmt.set? %>>
      <td><%= eqmt.title %></td>
      <td style="padding: 0px;">
        <table border="0" style="border: 0px;" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" style="padding: 4px; border: 0px;">
              <%= eqmt.description %>
            </td>
          </tr>
          <% if [eqmt.computed_hacking_bonus_for(current_user), eqmt.computed_botnet_bonus_for(current_user), eqmt.computed_defense_bonus_for(current_user)].sum > 0 %>
            <tr>
              <td style="padding: 4px; border: 0px; white-space: nowrap;">Hacking skill bonus:</td>
              <td style="padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_hacking_bonus_for(current_user) : eqmt.computed_hacking_bonus_for(nil) %></td>
            </tr>
            <tr>
              <td style="padding: 4px; border: 0px; white-space: nowrap;">Botnet bonus:</td>
              <td style="padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_botnet_bonus_for(current_user) : eqmt.computed_botnet_bonus_for(nil) %></td>
            </tr>
            <tr>
              <td style="padding: 4px; border: 0px; white-space: nowrap;">Defense bonus:</td>
              <td style="padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_defense_bonus_for(current_user) : eqmt.computed_defense_bonus_for(nil) %></td>
            </tr>
          <% end %>
        </table>
      </td>
      <% unless mine %>
        <td><%= number_to_currency(eqmt.price) %></td>
        <td>
          <% if current_user.has_purchased? eqmt %>
            <span class="btn btn-default disabled">Purchased</span>
          <% elsif current_user.money < eqmt.price %>
            <span class="btn btn-default disabled">Insufficent Funds</span>
          <% else %>
            <%= link_to "Purchase", buy_equipments_path(item_id: eqmt.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        </td>
      <% else %>
        <td>
          <% if mine && !eqmt.equipped_by?(current_user) %>
            <%= link_to "Equip", equipment_path(eqmt), method: :put, class: "btn btn-primary" %>
          <% else %>
            <span class="btn btn-default disabled">Equipped</span><br />
            <%= link_to "Unequip", equipment_path(eqmt, unequip: true), method: :put, class: "btn btn-primary", style: "margin-top: 6px;" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>