<table border="0" class="table table-condensed" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <% unless mine %>
      <th>Price</th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  <% color_not = "#F9F9F9" %>
  <% color_now = "#FFF" %>
  <% equipments.each_index do |i| %>
  <% eqmt = equipments[i] %>
  <% (color_now, color_not = color_not, color_now) if equipments[i-1].present? && equipments[i-1].klass != eqmt.klass %>
    <tr>
      <td style="background-color: <%= color_now %>; font-size: 11px;"><%= eqmt.title %></td>
      <td style="background-color: <%= color_now %>; font-size: 11px; padding: 0px;">
        <table border="0" style="border: 0px;" cellspacing="0" cellpadding="0">
          <tr>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; white-space: nowrap;">Hacking:</td>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_hacking_bonus_for(current_user) : eqmt.computed_hacking_bonus_for(nil) %></td>
          </tr>
          <tr>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; white-space: nowrap;">Botnet:</td>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_botnet_bonus_for(current_user) : eqmt.computed_botnet_bonus_for(nil) %></td>
          </tr>
          <tr>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; white-space: nowrap;">Defense:</td>
            <td style="background-color: <%= color_now %>; padding: 4px; border: 0px; text-align: right;">+<%= mine ? eqmt.computed_defense_bonus_for(current_user) : eqmt.computed_defense_bonus_for(nil) %></td>
          </tr>
        </table>
      </td>
      <% unless mine %>
        <td style="background-color: <%= color_now %>; font-size: 11px;"><%= number_to_currency(eqmt.price, precision: 0) %></td>
        <td style="background-color: <%= color_now %>; font-size: 11px; ">
          <% if current_user.has_purchased? eqmt %>
            <span class="btn btn-default disabled btn-mini">Purchased</span>
          <% elsif current_user.money < eqmt.price %>
            <span class="btn btn-default disabled btn-mini">Insufficent Funds</span>
          <% else %>
            <%= link_to "Purchase", buy_equipments_path(item_id: eqmt.id), method: :post, class: "btn btn-primary btn-mini" %>
          <% end %>
        </td>
      <% else %>
        <td style="background-color: <%= color_now %>;">
          <% if mine && !eqmt.equipped_by?(current_user) %>
            <%= link_to "Equip", equipment_path(eqmt), method: :put, class: "btn btn-primary btn-mini" %>
          <% else %>
            <span class="btn btn-default disabled btn-mini">Equipped</span><br />
            <%= link_to "Unequip", equipment_path(eqmt, unequip: true), method: :put, class: "btn btn-primary btn-mini", style: "margin-top: 6px;" %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>