<table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
  <tr>
    <td>
      <h4>Evolve hacking skill</h4>
      Increase your hacking skill by <%= CONFIG["hacking"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_hacking_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_HACKING_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy hacking skill</h4>
      Increase your hacking skill by <%= CONFIG["hacking"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_hacking_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:hacking) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_HACKING_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Evolve your botnet</h4>
      Increase your botnet strength by <%= CONFIG["botnet"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_botnet_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_BOTNET_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy botnet</h4>
      Increase your botnet strength by <%= CONFIG["botnet"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_botnet_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:botnet) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_BOTNET_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Evolve defense ratio</h4>
      Increase your defense ratio by <%= CONFIG["defense"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_defense_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_DEFENSE_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy defense ratio</h4>
      Increase your defense ratio by <%= CONFIG["defense"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_defense_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:defense) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_DEFENSE_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
</table>