<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
  <tr>
    <td>
      <% if @current_action.present? %>
        <%= image_tag("hacking_evolve.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("hacking_evolve.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_HACKING_EVOLVE), :method => :post %>
      <% end %>  
    </td>
    <td>
      <h3>Evolve hacking skill</h3>
      Increase your hacking skill by <%= CONFIG["hacking"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_hacking_ratio_time) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_HACKING_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @current_action.present? || !current_user.can_buy?(:hacking) %>
        <%= image_tag("hacking_buy.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("hacking_buy.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_HACKING_BUY), :method => :post %>
      <% end %>
    </td>
    <td>
      <h3>Buy hacking skill</h3>
      Increade your hacking skill by <%= CONFIG["hacking"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_hacking_ratio_cost) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:hacking) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_HACKING_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @current_action.present? %>
        <%= image_tag("botnet_evolve.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("botnet_evolve.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_BOTNET_EVOLVE), :method => :post %>
      <% end %>
    </td>
    <td>
      <h3>Evolve your botnet</h3>
      Increase your botnet strength by <%= CONFIG["botnet"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_botnet_ratio_time) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_BOTNET_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @current_action.present? || !current_user.can_buy?(:botnet) %>
        <%= image_tag("botnet_buy.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("botnet_buy.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_BOTNET_BUY), :method => :post %>
      <% end %>
    </td>
    <td>
      <h3>Buy botnet</h3>
      Increade your botnet strength by <%= CONFIG["botnet"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_botnet_ratio_cost) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:botnet) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_BOTNET_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @current_action.present? %>
        <%= image_tag("defense_evolve.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("defense_evolve.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_DEFENSE_EVOLVE), :method => :post %>
      <% end %>
    </td>
    <td>
      <h3>Evolve defense ratio</h3>
      Increase your defense ratio by <%= CONFIG["defense"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_defense_ratio_time) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% else %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_DEFENSE_EVOLVE), :method => :post, :class => "btn btn-primary" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @current_action.present? || !current_user.can_buy?(:hacking) %>
        <%= image_tag("defense_buy.png", :'no_pix' => true) %>
      <% else %>
        <%= link_to image_tag("defense_buy.png", :'no_pix' => true), actions_path(:type_id => Action::TYPE_DEFENSE_BUY), :method => :post %>
      <% end %>
    </td>
    <td>
      <h3>Buy defense ratio</h3>
      Increade your defense ratio by <%= CONFIG["defense"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_defense_ratio_cost) %>
    </td>
    <td>
      <% if @current_action.present? %>
        <span class="btn disabled">Action pending</span>
      <% elsif current_user.can_buy?(:defense) %>
        <%= link_to "perform action", actions_path(:type_id => Action::TYPE_DEFENSE_BUY), :method => :post, :class => "btn btn-primary" %>
      <% else %>
        <span class="btn disabled">not enough money</span>
      <% end %>
    </td>
  </tr>
</table>