<table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
  <tr>
    <td>
      <h4>Evolve hacking skill</h4>
      Increase your hacking skill by <%= CONFIG["hacking"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_hacking_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_HACKING_EVOLVE) %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy hacking skill</h4>
      Increase your hacking skill by <%= CONFIG["hacking"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_hacking_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_HACKING_BUY) %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Evolve your botnet</h4>
      Increase your botnet strength by <%= CONFIG["botnet"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_botnet_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_BOTNET_EVOLVE) %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy botnet</h4>
      Increase your botnet strength by <%= CONFIG["botnet"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_botnet_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_BOTNET_BUY) %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Evolve defense ratio</h4>
      Increase your defense ratio by <%= CONFIG["defense"]["evolve_ratio"] %>. Each level needs more time to accomplish.<br />Duration: <%= humanize(current_user.next_defense_ratio_time) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_DEFENSE_EVOLVE) %>
    </td>
  </tr>
  <tr>
    <td>
      <h4>Buy defense ratio</h4>
      Increase your defense ratio by <%= CONFIG["defense"]["buy_ratio"] %>.<br />Cost: <%= number_to_currency(current_user.next_defense_ratio_cost) %>
    </td>
    <td style="vertical-align: middle;">
      <%= action_button_for(Action::TYPE_DEFENSE_BUY) %>
    </td>
  </tr>
</table>