<% companies.each do |company| %>
<table border="0" class="table table-bordered" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="2"><strong><%= company.name %></strong></td>
    <td>Income/Hour: <%= number_to_currency(company.income_per_hour) %></td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
        <tr>
          <td style="border: 0;">
            Duration:<br /><%= humanize(company.next_income_ratio_time) %>
          </td>
          <td style="border: 0; text-align: right;">
            <%= company_action_button_for(Action::TYPE_COMPANY_INCOME_EVOLVE, company) %>
          </td>
        </tr>
        <tr>
          <td style="border: 0;">
            Cost: <%= number_to_currency(company.next_income_ratio_cost) %>
          </td>
          <td style="border: 0; text-align: right;">
            <%= company_action_button_for(Action::TYPE_COMPANY_INCOME_BUY, company) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Defense ratio: <%= company.defense_ratio %></td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
        <tr>
          <td style="border: 0;">
            Duration:<br /><%= humanize(company.next_defense_ratio_time) %>
          </td>
          <td style="border: 0; text-align: right">
            <%= company_action_button_for(Action::TYPE_COMPANY_DEFENSE_EVOLVE, company) %>
          </td>
        </tr>
        <tr>
          <td style="border: 0;">
            Cost: <%= number_to_currency(company.next_defense_ratio_cost) %>
          </td>
          <td style="border: 0; text-align: right;">
            <%= company_action_button_for(Action::TYPE_COMPANY_DEFENSE_BUY, company) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
<% end %>
