<table border="0" class="table table-bordered" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Income/Hour</th>
    <th>Controlled by</th>
    <th>Duration</th>
    <th style="width: 350px;">Chance of success</th>
    <th></th>
  </tr>
<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= number_to_currency(company.money_per_hour) %></td>
    <td><%= company.user.try(:nickname) %></td>
    <td><%= humanize(current_user.time_to_attack(company, :hack)) if current_user.can_attack?(company, :hack) %></td>
    <td>
      <% unless current_user.controls?(company) %>
        <div class="progress<%= progress_class_for(current_user.chance_of_success_against(company, :hack)) %>" style="margin-bottom: 0px; width: 300px; float: left;">
          <div class="bar" style="width: <%= current_user.chance_of_success_against(company, :hack) %>%;"></div>
        </div>
        <span style="display: block; float: right;"><%= current_user.chance_of_success_against(company, :hack) %>%</span>
      <% end %>
    </td>
    <td>
      <% if current_user.has_incomplete_actions? %>
        <% if current_user.controls?(company) %>
            <span class="btn btn-default disabled" style="margin-bottom: 6px;">You control this company</span>
        <% else %>
          <span class="btn btn-default disabled" style="margin-bottom: 6px;">Action pending</span>
        <% end %>
      <% else %>
        <% if current_user.can_attack?(company, :hack) %>
          <%= link_to "Hack", actions_path(:type_id => Action::TYPE_ATTACK_COMPANY, :target_id => company.id), :class => "btn btn-primary", :method => :post, :style => "margin-bottom: 6px;" %>
        <% else %>
          <span class="btn btn-default disabled" style="margin-bottom: 6px;">
            <% if current_user.controls?(company) %>
              You control this company
            <% elsif current_user.to_weak_for(company, :hack) %>
              You are too weak
              <% elsif current_user.to_strong_for(company, :hack) %>
                You are too strong
            <% end %>
          </span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>