<% companies.each do |company| %>
<table border="0" class="table table-bordered" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="2"><strong><%= company.name %></strong></td>
    <td>Income/Hour: <%= number_to_currency(company.income_per_hour) %></td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
        <tr>
          <td style="border: 0;">
            Duration:<br /><%= humanize(company.next_income_ratio_time) %>
          </td>
          <td style="border: 0; text-align: right;">
            <% if @current_action.present? %>
              <span class="btn btn-default disabled">Action pending</span>
            <% else %>
              <%= link_to(actions_path(type_id: Action::TYPE_COMPANY_INCOME_EVOLVE, target_id: company.id), method: :post, class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-collapse-up" style="width: 83px;"> Increase</span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="border: 0;">
            Cost: <%= number_to_currency(company.next_income_ratio_cost) %>
          </td>
          <td style="border: 0; text-align: right;">
            <% if @current_action.present? %>
              <span class="btn btn-default disabled">Action pending</span>
            <% elsif !current_user.can_buy_for_company?(:income, company) %>
                <span class="btn btn-default disabled">Insufficent Funds</span>
            <% else %>
              <%= link_to(actions_path(type_id: Action::TYPE_COMPANY_INCOME_BUY, target_id: company.id), method: :post, class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-usd" style="width: 83px;"> Buy&nbsp;</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Defense ratio: <%= company.defense_ratio %></td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
        <tr>
          <td style="border: 0;">
            Duration:<br /><%= humanize(company.next_defense_ratio_time) %>
          </td>
          <td style="border: 0; text-align: right">
            <% if @current_action.present? %>
              <span class="btn btn-default disabled">Action pending</span>
            <% else %>
              <%= link_to(actions_path(type_id: Action::TYPE_COMPANY_DEFENSE_EVOLVE, target_id: company.id), method: :post, class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-collapse-up" style="width: 83px;"> Increase</span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="border: 0;">
            Cost: <%= number_to_currency(company.next_defense_ratio_cost) %>
          </td>
          <td style="border: 0; text-align: right;">
            <% if @current_action.present? %>
              <span class="btn btn-default disabled">Action pending</span>
            <% elsif !current_user.can_buy_for_company?(:defense, company) %>
                <span class="btn btn-default disabled">Insufficent Funds</span>
            <% else %>
              <%= link_to(actions_path(type_id: Action::TYPE_COMPANY_DEFENSE_BUY, target_id: company.id), method: :post, class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-usd" style="width: 83px;"> Buy&nbsp;</span>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />
<% end %>
