<h2>Your profile</h2>
<%= form_for(current_user, :class => "form-horizontal") do |f| %>
  <fieldset>
    <legend>Change your nickname, email-address and password here</legend>
    <div class="control-group">
      <% if current_user.errors.present? %>
        <% current_user.errors.full_messages.each do |msg| %>
          <div class="alert alert-error"><%= msg %></div>
        <% end %>
      <% end %>
      <%= f.label :nickname, "Nickname:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :nickname, :class => "input-xlarge" %>
      </div>
      <%= f.label :email, "Email (optional):", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :email, :class => "input-xlarge" %>
      </div>
      <%= f.label :password, "New password:", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password, :class => "input-xlarge" %>
      </div>
      <%= f.label :password_confirmation, "Confirm password:", :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.submit "Update details", :class => "btn btn-primary" %> <%= link_to "Back", root_path, :class => "btn" %>
  </div>
<% end %>